<% include partials/header.ejs %>
    <div class="container">
      <div class="row">
        <div class="col s6 offset-s3">
          <h3 class="center-align">Your feeds</h3>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>Items per page</label>
          <select id="page_length" class="browser-default">
            <option<%= page_length == 5 ? ' selected' : '' %>>5</option>
            <option<%= page_length == 10? ' selected' : '' %>>10</option>
            <option<%= page_length == 20? ' selected' : '' %>>20</option>
            <option<%= page_length == 50? ' selected' : '' %>>50</option>
          </select>
        </div>
      </div>

      <ul class="collection">
        <% if (typeof feeds == "undefined" || feeds.length < 1) { %>
        <li class="collection-item">
          <p class="center-align">Failed to load your feeds. No data was received from the server</p>
        </div>
        <%
        } else {
          for (var i = 0; i < feeds.length; i++) {
            var date = new Date(feeds[i].pub_date);
            date = date.toLocaleDateString();
            var url = feeds[i].feed.match(/https?:\/\/[^\/]+/g)[0];
            var source_name_re = /https?:\/\/([^\/]+)/g;
            var source_name = source_name_re.exec(feeds[i].feed)[1];
        %>
        <li class="collection-item avatar">
          <img src="<%= url %>/favicon.ico" alt="favicon" class="circle">
          <span class="title"><%= feeds[i].name %></span>
          <p>
            Published: <%= date %> <br />
            From: <%= source_name %>
          </p>
          <span class="secondary-content" style="text-align: right;">
          <a href="/feeds/dislike?url=<%= feeds[i].link %>"><i class="material-icons">thumb_down</i></a>
          <a href="/feeds/like?url=<%= feeds[i].link %>"><i class="material-icons">thumb_up</i></a>
          <br />
          <a href="<%= feeds[i].link %>"><i class="material-icons">send</i></a>
          </span>
        </li>

        <% } } %>
      </ul>

      <div class="row">
        <div class="col s3 offset-s3 center-align">
          <% if (page > 0) { %>
            <a class="btn-large wave-effect waves-light" href="/stream?page_length=<%= page_length %>&page=<%=page-1%>">Prev page</a>
          <% } %>
        </div>
        <% if (page > 0) { %>
          <div class="col s3 center-align">
        <% } else { %>
           <div class="col s3 offset-s6 center-align">
         <% } %>
            <a class="btn-large wave-effect waves-light" href="/stream?page_length=<%= page_length %>&page=<%=next_page%>">Load more</a>
          </div>
      </div>
    </div>
<% include partials/footer.ejs %>
